[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "public"]
        path = public
        url = git@github.com:netZoo/netZoo.github.io.git
        branch = master

